<!--The content below is only a placeholder and can be replaced.-->

<div class="main">
  <div>
    <h1>
      TodoApp in Angular<sup>4</sup>
    </h1>
    <input class="addItem" [(ngModel)]="newItems" type="text" placeholder="Add Item" autofocus/>
    <button (click)="AddItems()">Add</button>
  </div>
  <div class = "list">
    <ul>
      <li [ngClass]="{finish:num==i}"  *ngFor="let i of itemsL ; let ind = index" >
         {{i}}
          <span (click)="removeItem(ind)">
            X
          </span>
       </li>
    <button (click)="deleteAll()">Delete All </button>
      
    </ul>
  </div>

  </div>


